<a href="https://colab.research.google.com/github/NhuY26/CODE-N-HK2/blob/main/2_TH%E1%BB%90NG_K%C3%8A_SUY_DI%E1%BB%84N.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Các thư viện cần thiết 


import pandas as pd  
import matplotlib.pyplot as plt  
import statsmodels.api as sm  
from statsmodels.formula.api import ols  
import seaborn as sns  
import numpy as np  
from scipy import stats
import scipy.stats as st

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [3]:
mydata = pd.read_csv("/content/drive/MyDrive/ĐỒ ÁN PYTHON HK2 (2022)/Diet_R.csv")

In [4]:
#Hiển thị dữ liệu:

print(mydata.head())

   Person gender  Age  Height  pre.weight  Diet  weight6weeks
0      25          41     171          60     2          60.0
1      26          32     174         103     2         103.0
2       1      0   22     159          58     1          54.2
3       2      0   46     192          60     1          54.0
4       3      0   55     170          64     1          63.3

In [5]:
#Tổng số dữ liệu:

print('The total number of rows in the dataset:', mydata.size)

The total number of rows in the dataset: 546

In [6]:
#Tổng phần trăm giá trị dữ liệu bị thiếu:

print('Percentage of missing values in the dataset: {:.2f}%'.format(mydata[mydata.gender == ' '].size / mydata.size * 100))

Percentage of missing values in the dataset: 2.56%

In [7]:
#Kiểm tra các giá trị còn thiếu:

print(mydata.gender.unique())   
print(mydata[mydata.gender == ' '])

[' ' '0' '1']
   Person gender  Age  Height  pre.weight  Diet  weight6weeks
0      25          41     171          60     2          60.0
1      26          32     174         103     2         103.0

In [8]:
mydata.describe()

          Person        Age      Height  pre.weight       Diet  weight6weeks
count  78.000000  78.000000   78.000000   78.000000  78.000000     78.000000
mean   39.500000  39.153846  170.820513   72.525641   2.038462     68.680769
std    22.660538   9.815277   11.276621    8.723344   0.812920      8.924504
min     1.000000  16.000000  141.000000   58.000000   1.000000     53.000000
25%    20.250000  32.250000  164.250000   66.000000   1.000000     61.850000
50%    39.500000  39.000000  169.500000   72.000000   2.000000     68.950000
75%    58.750000  46.750000  174.750000   78.000000   3.000000     73.825000
max    78.000000  60.000000  201.000000  103.000000   3.000000    103.000000


**Câu hỏi:** chế độ ăn kiêng nào tốt nhất để giảm cân? Dựa vào bảng số liệu nhận thấy có 3 chế độ. Vì vậy cần chia dữ liệu thành các nhóm có liên quan đến 3 chế độ này.

Từ các nhóm trên chúng ta sẽ tiến hành phân tích thông kê suy diễn ANOVA một chiều

In [9]:
#Thống kê này trên cơ sở giới tính cũng như chế độ ăn uống:

print(mydata.groupby('gender').agg([ np.mean, np.median, np.count_nonzero, np.std ]).weight6weeks)

             mean  median  count_nonzero        std
gender
        81.500000    81.5              2  30.405592
0       63.223256    62.4             43   6.150874
1       75.015152    73.9             33   4.629398

In [10]:
diet1 = mydata[mydata["Diet"] == 1]
diet2 = mydata[mydata["Diet"] == 2]
diet3 = mydata[mydata["Diet"] == 3]

In [11]:
weight_loss1 = diet1["pre.weight"] - diet1["weight6weeks"]
weight_loss2 = diet2["pre.weight"] - diet2["weight6weeks"]
weight_loss3 = diet3["pre.weight"] - diet3["weight6weeks"]

In [12]:
print(weight_loss1)

2     3.8
3     6.0
4     0.7
5     2.9
6     2.8
7     2.0
8     2.0
9     8.5
10    1.9
11    3.1
12    1.5
13    3.0
14    3.6
15    0.9
45   -0.6
46    1.1
47    4.5
48    4.1
49    9.0
50    2.4
51    3.9
52    3.5
53    5.1
54    3.5
dtype: float64

In [13]:
print(weight_loss2)

0     0.0
1     0.0
16   -2.1
17    2.0
18    1.7
19    4.3
20    7.0
21    0.6
22    2.7
23    3.6
24    3.0
25    2.0
26    4.2
27    4.7
28    3.3
29   -0.5
55    4.2
56    2.4
57    5.8
58    3.5
59    5.3
60    1.7
61    5.4
62    6.1
63    7.9
64   -1.4
65    4.3
dtype: float64

In [14]:
print(weight_loss3)

30    7.0
31    5.6
32    3.4
33    6.8
34    7.8
35    5.4
36    6.8
37    7.2
38    7.0
39    7.3
40    0.9
41    7.6
42    4.1
43    6.3
44    5.0
66    2.5
67    0.9
68    3.5
69    0.5
70    2.8
71    8.6
72    4.5
73    2.8
74    4.1
75    5.3
76    9.2
77    6.1
dtype: float64

In [15]:
import scipy.stats as stats

stats.f_oneway(weight_loss1, weight_loss2, weight_loss3)

F_onewayResult(statistic=6.197447453165349, pvalue=0.0032290142385893524)

In [16]:
# Xây dựng DataFrame

mydata =pd.DataFrame({
    "weight_loss1": weight_loss1,
    "weight_loss2": weight_loss2,
    "weight_loss3": weight_loss3
})
print(mydata)

    weight_loss1  weight_loss2  weight_loss3
0            NaN           0.0           NaN
1            NaN           0.0           NaN
2            3.8           NaN           NaN
3            6.0           NaN           NaN
4            0.7           NaN           NaN
..           ...           ...           ...
73           NaN           NaN           2.8
74           NaN           NaN           4.1
75           NaN           NaN           5.3
76           NaN           NaN           9.2
77           NaN           NaN           6.1

[78 rows x 3 columns]

In [17]:
list_non_na = [list(mydata["weight_loss1"].dropna()),
               list(mydata["weight_loss2"].dropna()),
               list(mydata["weight_loss3"].dropna())]

In [18]:
for i in range(3):
  p_value = stats.shapiro(list_non_na[i])[1]
  print(f"P_value của cột thứ {i+1}: {p_value}")
  if p_value < 0.05:
    print(f"Có bằng chứng cho thấy nhóm weight loss {i+1} không tuân theo phân phối chuẩn")
  else:
    print(f"Không có bằng chứng cho thấy nhóm weight loss {i+1} không tuân theo phân phối chuẩn")

P_value của cột thứ 1: 0.07748671621084213
Không có bằng chứng cho thấy nhóm weight loss 1 không tuân theo phân phối chuẩn
P_value của cột thứ 2: 0.961176335811615
Không có bằng chứng cho thấy nhóm weight loss 2 không tuân theo phân phối chuẩn
P_value của cột thứ 3: 0.37203603982925415
Không có bằng chứng cho thấy nhóm weight loss 3 không tuân theo phân phối chuẩn


**Tiến hành kiểm định phương sai của các nhóm có sự khác biệt**

Xây dựng giả thuyết với mức ý nghĩa 0.05:
 - Giả thuyết null:

 $H_0$: Các nhóm có phương sai giống nhau 
 - Giả thuyết thay thế:
 
 $H_a$: Các nhóm có phương sai không giống nhau

In [19]:
stats, p_value = st.bartlett(weight_loss1, weight_loss2, weight_loss3)
print("p_value:",p_value)
if p_value < 0.05:
  print("Có bằng chứng bác bỏ  giả thuyết H0")
else:
  print("Không có bằng chứng bác bỏ  giả thuyết H0")

p_value: 0.8447392194944549
Không có bằng chứng bác bỏ  giả thuyết H0

Sau khi thực hiện kiểm định ANOVA ta kết luận được 3 chế độ ăn kiêng có sự khác biệt.

Bây giờ, ta chỉ cần dự trên sự biến đổi của trọng lượng trung bình của từng chế độ ăn kiêng để kết luận chế độ nào hiệu quả nhất.

In [20]:
#Bảng dữ liệu
mean= [weight_loss1.mean(), weight_loss2.mean(), weight_loss3.mean()]
mode = ['1', '2', '3']
table = list(zip(mode, mean))
table = pd.DataFrame(table)
table.columns = ['Diet','Mean']
table

  Diet      Mean
0    1  3.300000
1    2  3.025926
2    3  5.148148

- Từ dữ liệu của bảng trên, cho ta thấy chế độ ăn kiêng thứ 3 là chế độ ăn kiêng phù hợp nhất và có hiệu quả cao hơn chế độ ăn kiêng 1 và 2.